/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

:root {
 --main-color: white;
 --main-color-light: #f5f5f5
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: var(--main-color-light);
}

/* Header */

header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--main-color-light);
}

p > img {
  max-width: 100px;
  aspect-ratio: 2;
}

nav {
  display: flex;
  gap: 15px;
}

nav > a {
  text-decoration: none;
  color: var(--main-color);
}

nav > a:hover {
  text-decoration: underline;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

main > section {
  padding: 0px 40px;
}

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
}

main > section > figure {
  max-width: 300px;
}

main > section > figure > img {
  aspect-ratio: 1;
  border-radius: 400px;
  object-fit: cover;
}

h2 {
  color: var(--main-color);
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 60px;
}

.bio-row {
  display: flex;
  gap: 10px;
}

.bold {
  font-weight: bold;
  color: var(--main-color);
}

.bio > p {
  max-width: 500px;
  line-height: 1.5;
}

/* Image Section */

.image-grid {
  display: grid;
  gap: 20px;
}

.image-grid > li> figure > img {
  aspect-ratio: 1;
  object-fit: cover;
}

/* media queries */

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }

  .bio-section{
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}